<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planogram Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dsplanogram.css') }}">
</head>

<body>
    <div class="header">
        <h1>Planogram Management</h1>
    </div>

    <div class="container">
        <div class="sidebar">
            <button id="dashboardButton">Dashboard</button>
            <button id="clusterButton">Cluster</button>
            <button id="storesButton">Stores</button>
            <button id="floorPlansButton">FloorPlans</button>
            <button id="planogramsButton">Planograms</button>
            <button id="productsButton">Products</button>
            <button id="performanceButton">Performance</button>
            <button id="positionsButton">Positions</button>
        </div>

        <div class="main-content">
            <div id="floatingMessage" class="floating-message"></div>

            <div class="filter-bar">
                <input type="text" id="filterInput" placeholder="Search...">
                <button id="addButton" class="custom-style">Add Planogram</button>
            </div>
            <table id="itemsContainer">
                <thead>
                    <tr>
                        <th>Planogram ID</th>
                        <th>Planogram Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for planogram in planograms %}
                    <tr class="item">
                        <td>{{ planogram[0] }}</td>
                        <td>{{ planogram[1] }}</td>
                        <td>{{ planogram[2] }}</td>
                        <td>
                            <button class="edit-button custom-style" data-id="{{ planogram[0] }}">Edit</button>
                            <button class="delete-button custom-style" data-id="{{ planogram[0] }}">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>

    <div id="floatingFormContainer" class="floating-form-container">
        <div class="floating-form">
            <h2 id="formTitle">Add Planogram</h2>
            <form id="planogramForm">
                <label for="planogramName">Planogram Name</label>
                <input type="text" id="planogramName" name="planogramName" required>
            
                <label for="dbStatus">Status</label>
                <input type="number" id="dbStatus" name="dbStatus" required>
                
                <label for="dbStatus">File</label>
                <input type="file" id="pdfFile" accept="application/pdf" required />

                <button type="submit">Save</button>
                <button type="button" id="cancelButton">Cancel</button>
            </form>
        </div>
    </div>

    <div id="deleteConfirmation" class="delete-confirmation">
        <p>Are you sure you want to delete this planogram record?</p>
        <button id="confirmDelete" class="custom-style">Yes</button>
        <button id="cancelDelete" class="custom-style">No</button>
    </div>

    <script src="{{ url_for('static', filename='js/dsplanogram.js') }}"></script>
</body>

</html>
